@page "/help"
<SectionContent SectionName="pageTitle">Help</SectionContent>

<div class="container">
    <div class="row bg-white mb-3">
        <div class="col-12 p-3">
            <h4 class="text-center text-app-primary">FAQs</h4>
            <label class="text-app-primary"> How to Order?</label>
            <p class="text-secondary">
                You can order fruits and vegetables from the home page, tab on the Add to cart button and then go the cart tab to place the order.
            </p>
            <hr style="margin:8px 0;"/>
            <label class="text-app-primary"> Where can I see my order history?</label>
            <p class="text-secondary">
                You can see your order history by tapping on the orders tab in the bottom.
            </p>
        </div>
    </div>
    <div class="row bg-white mb-3">
        <div class="col-12 p-3">
            <h4 class="text-center text-app-primary">Contact us</h4>
            <label class="text-app-primary"> Email</label>
            <p class="text-secondary">
                test@test.com
            </p>
            <hr style="margin:8px 0;"/>
            <label class="text-app-primary">Mobile No.</label>
            <p class="text-secondary">
                +91 9876543210
            </p>
        </div>
    </div><div class="row bg-white">
        <div class="col-12 p-3">
            <label class="text-app-primary text-center w-100"> Designed and Developed by</label>
            <a href="https://www.youtube.com/@@elayarajavisu7718" class="d-block fw-bold h5 text-center">Elayaraja</a>
            
        </div>
    </div>
</div>
