@inherits LayoutComponentBase

<div class="container-fluid bg-app-primary" style="height:180px">

</div>

<div class="container" style="margin-top:-80px">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-white"><SectionContent SectionName="pageTitle" /></h2>
        </div>
        <div class="col-11 br-white rounded-3 p-3 mx-auto">
            @Body
        </div>
    </div>
</div>
