@inherits LayoutComponentBase

<Navbar />
<div class="main-content">
    @Body
</div>
<Menubar />

<style>
    .main-content{
        padding-bottom:calc(var(--menubar-height)+5px);
        overflow-y:auto;
    }
</style>
