@implements IDisposable;
@inject NavigationManager NavigationManager;

<div class="menubar bg-app-primary text-white">
    @foreach (var menu in _menuItems)
    {
        var iconClassPrefix = "bx";
        var activeMenuClass = "text-secondary";
        if (menu.Url == _selectedMenu)
        {
            iconClassPrefix = "bxs";
            activeMenuClass = "text-primary";
        }
        <div class="menubar-item d-flex flex-column position-relative @activeMenuClass "
            @onclick="menu.OnTap">
            <i class="icon bx @menu.Icon"></i>
        <span class="menubar-menu-title">@menu.Label</span>
            @if (menu.Url == PageRoutes.Cart)
            {
                <CartBadge />
            }
    </div>  
        
    }
</div>

@code {
    private MenuItem[] _menuItems = [];
    private string _selectedMenu = PageRoutes.Home;
    protected override void OnInitialized()
    {
        _menuItems = [
            new("Home","bxs-home",PageRoutes.Home,()=>NavigateTo(PageRoutes.Home)),
            new("Cart","bxs-cart",PageRoutes.Cart,()=>NavigateTo(PageRoutes.Cart)),
            new("Orders","bxs-objects-horizontal-left",PageRoutes.Orders,()=>NavigateTo(PageRoutes.Orders)),
            new("Profile","bxs-user",PageRoutes.Profile,()=>NavigateTo(PageRoutes.Profile)),
            new("Help","bxs-help-circle",PageRoutes.Help,()=>NavigateTo(PageRoutes.Help))
        ];
        _selectedMenu= NavigationManager.Uri.Replace(NavigationManager.BaseUri,"/");
        NavigationManager.LocationChanged += OnLocationChanged;
    }
    private void NavigateTo(string url) => NavigationManager.NavigateTo(url);
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _selectedMenu = e.Location.Replace(NavigationManager.BaseUri,"/");
        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
    private record struct MenuItem(string Label, string Icon,string Url, Action OnTap);
    private static class PageRoutes
    {
        public const string Home = "/"; 
        public const string Cart = "/cart";    
        public const string Orders = "/order";    
        public const string Profile = "/profile";    
        public const string Help = "/help";    
        
    }
}
<style>
    .menubar{
        height: var(--tabbar-height);
        z-index: 10;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        left:0;
        right:0;
        width:100%;
        padding: 8px 0;
        position:fixed;
        align-items:center;
        background-color:white;
        box-shadow:0 0 2px gray;
    }

    .menubar-item{
        justify-content:center;
        align-items:center;
    }

    .menubar-menu-title{
        font-size:14px;
    }
</style>