@using Microsoft.AspNetCore.Components.Sections

<div class="navbar bg-app-primary text-white">
    
    @if (!IsStackedPage)
    {
        <h4 class="m-0 p-0 text-center">
            <SectionOutlet SectionName="pageTitle"></SectionOutlet>
        </h4>
    } 
    else
    {
        <div class="d-flex gap-3 align-items-center">
            <a href="javascript:history.back()">
                <i class="bx bx-left-arrow-alt text-white"></i>
            </a>
            <h4 class="m-0 p-0 text-center flex-grow-1">
                <SectionOutlet SectionName="pageTitle"/>
            </h4>
        </div>
    }
    <div class="toolbar-items d-flex align-items-center gap-3">
        <SectionOutlet SectionName="toolbarItems"></SectionOutlet>
    </div>
</div>

@code {
    [Parameter]
    public bool IsStackedPage { get; set; }
}

<style>
    .navbar{
        height: var(--navbar-height);
        position:sticky;
        z-index:10;
        top:0;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px;
        font-size:18px;
        box-shadow:0 5px 8px rgba(0,0,0,0.1);
    }
</style>